@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$red-msb: #CC0000;
$red-msb-80: #DB4B32;
$red-msb-60: #E67C5E;
$red-msb-40: #F0AB92;
$red-msb-20: #F8D6C7;

$purple-msb: #822757;
$purple-msb-80: #9A4C6F;
$purple-msb-60: #B47D9A;
$purple-msb-40: #CAA4B3;
$purple-msb-20: #E3D2D9;

$gray-msb: #6F6E67;
$gray-msb-80: #908F88;
$gray-msb-60: #A9A8A4;
$gray-msb-40: #CACAC5;
$gray-msb-20: #E5E5E2;

$orage-msb: #EB6928;
$green-msb: #41B496;
$yellow-msb: #FFCD46;
