@import './variables';
@import 'bootstrap/scss/bootstrap';

h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1.65rem;
}

h2, h3, h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.4rem;
}

p, label {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 1rem;
}

a {
	color: black;
	text-decoration: none;
}

button {
	border: none;
	border-radius: 10rem;
	padding: 0.5rem 1.5rem;
	font-weight: 500;
}

.hero {
	background: url('/broken-tree.png');
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	color: white;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.cta-box {
		background: linear-gradient(#6f6e67e6 0%, #6f6e67e6 100%);
		position: relative;
		max-width: 500px;
		padding: 1.6rem 2rem 1.8rem 2rem;


		p {
			margin: 1rem 0 1.5rem 0;
		}

		#report-tree-btn {
			background-color: #CC0000;
			color: white;
		}

		#trees {
			position: absolute;
			right: 1rem;
			bottom: 0.2rem;
			height: 5rem;
		}
	}
}

.report-hero {
	background: url('/healthy-tree.png');
	background-size: cover;
	background-position-x: center;
	background-position-y: center;

	#home-page-btn {
		background-color: $purple-msb;
		color: white;
	}
}

.usp {
	display: flex;

	.content {
		background-color: $gray-msb-20;
		border-left: 0.5rem $red-msb solid;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		padding: 1.5rem 3rem 0 1rem;
		margin-bottom: 1rem;
		position: relative;

		h3 {
			margin: 0;
		}

		.text {
			font-size: smaller;
			display: flex;

			p {
				margin: 1rem 0 1.5rem 0;
			}
		}

		img {
			max-width: 20%;
			min-width: 100px;
			height: auto;
			object-fit: contain;
			margin: 0 0 0 1rem;
			align-self: flex-end;
			bottom: 0;
			// position: absolute;
		}

		.trophy {
			align-self: flex-start;
		}

		.fa-arrow-right {
			color: $red-msb;
			font-size: 1.5rem;
			position: absolute;
			right: 1rem;
			bottom: 0.7rem;
		}
	}

	.reverse-content {
		h3 {
			margin-left: 8.15rem;
		}

		.text {
			flex-direction: row-reverse;
		}

		img {
			margin-right: 1rem;
		}
	}
}

.search-box {
	position: relative;
	display: flex;
	align-items: center;
	margin: 1rem;

	#search-input {
		width: 6rem;
		height: 2.5rem;
		border: none;
		border-radius: 10rem;
		padding-left: 1rem;
		background-color: $gray-msb-20;
	}

	.fa-magnifying-glass {
		position: absolute;
		right: 1rem;
	}
}

.fa-bars {
	font-size: 2.5rem;
	color: $gray-msb
}

footer {
	width: 100%;
	background-color: $gray-msb-20;
	padding: 3rem 1.5rem 1.5rem 1.5rem;
	display: flex;
	text-align: center;
	flex-direction: column;

	.content {
		margin: 0 0 3rem 0;

		a, span {
			margin: 0 0.7rem 0 0.7rem;
		}
	}

	.find a {
		text-decoration: underline;
	}

	.social-media {
		i {
			font-size: 1.5rem;
		}
	}

	.footer-brand {
		align-self: flex-start;
	}
}

#about-section {
	position: relative;
	padding: 4rem 0 4rem 0;

	#left-vine {
		position: absolute;
		left: 0;
		top: 0;
		width: 120px;
	}

	#right-vine {
		position: absolute;
		right: 0;
		top: 0;
		width: 120px;
	}

	.about-title {
		text-align: center;
		margin-bottom: 3rem;
	}
}

#report-container {
	position: relative;

	#report {
		width: 100%;
		background: $gray-msb-20;
		border-bottom: 1px solid $gray-msb-80;
		display: flex;
		justify-content: center;

		#report-section {
			width: 100%;
			padding: 4rem 0 4rem 0;
			max-width: 400px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;

			#info-form {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 70%;
				max-width: 400px;

				label {
					display: block;
					align-self: flex-start;
					margin-left: 0.5rem;
				}

				input, textarea {
					border: none;
					border-radius: 0.5rem;
					margin-bottom: 1rem;
					width: 100%;
					padding: 0.3rem 1rem;
				}

				.double-input {
					width: 100%;
					display: flex;
					justify-content: space-between;

					.content {
						width: 49%;
						display: flex;
						flex-direction: column;
					}
				}

				#send-form-btn {
					align-self: flex-end;
					background-color: $purple-msb;
					color: white;
				}
			}

			h2 {
				margin-bottom: 2rem;
			}

			#trees {
				position: absolute;
				left: 0.5rem;
				bottom: 0;
			}
		}
	}

	#green-vine {
		position: absolute;
		right: 0rem;
		top: 0;
		width: 120px;
	}
}

#after-report {
	background: url('/trees-path.png');
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
}

.hide {
	display: none;
}
